[submodule "extern/bx"]
	path = extern/bx
	url = https://github.com/bkaradzic/bx
[submodule "extern/bgfx"]
	path = extern/bgfx
	url = https://github.com/bkaradzic/bgfx
[submodule "extern/assets"]
	path = extern/assets
	url = git@github.com:alexpana/dont-stop-running-assets.git
[submodule "extern/rapidjson"]
	path = extern/rapidjson
	url = https://github.com/miloyip/rapidjson.git
[submodule "extern/nanovg"]
	path = extern/nanovg
	url = https://github.com/memononen/nanovg.git
